/* Poppins Font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


section::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;

}
section .container{
    position: relative;
    min-width: 600px;
    min-height: 550px;
    display: flex;
    margin-bottom: 40px;

}
section .container .contactinfo{
    position: absolute;
    top:40px;
    width: 350px;
    height: 500px;
    background-color:rgb(24, 22, 22);
    z-index: 1;
    padding: 40px;
    display: flex;
    border-radius: 18px;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 20px 20px rgb( 0, 0 , 0.2);

}
section .container .contactinfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;

}
section .container .contactinfo .info {
    position: relative;
    margin: 20px 0 ;
}
section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px;
    cursor: pointer;
    align-items: flex-start;

}
section .container .contactinfo .info li span:nth-child(1){
    width:30px;
    min-width: 30px;
}
section .container .contactinfo .info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}
section .container .contactinfo .info li span:nth-child(2){
    color: white;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}
section .container .contactinfo .info li:hover span:nth-child(1) img ,
section .container .contactinfo .info li:hover span:nth-child(2) {
    opacity: 1;

}
section .container .contactinfo .sci{
    position: relative;
    display: flex;
}
section .container .contactinfo .sci li {
    list-style: none;
    margin-right: 15px;

}
section .container .contactinfo .sci li a {
    text-decoration: none;
}
section .container .contactinfo .sci li a img{
    filter: invert(1);
    opacity: 0.5;
}
section .container .contactinfo .sci li:hover a img {
    opacity: 1;
}
section .container .contactForm {
    position: absolute;
    background: rgb(51, 50, 50);
    padding: 70px 50px;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 580px;
    border-radius: 18px;
    box-shadow: 0 50px 50px rgb(0.0.0.5);
}
section .container .contactForm h2 {
    color: white ;
    font-size: 24px;
    font-weight: 500;

}
section .container .contactForm .formBox form {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
section .container .contactForm .formBox form inputbox{
    position: relative;
    margin: 0 0 30px 0;

}
section .container .contactForm .formBox form .inputbox.w50 {
    width: 47%;
}
section .container .contactForm .formBox form .inputbox.w100 {
    width: 100%;
}

section .container .contactForm .formBox form .inputbox.w50 span{
    color: white;
}

section .container .contactForm .formBox form .inputbox.w100 span{
    color: white;
}

section .container .contactForm .formBox form .inputbox input ,
section .container .contactForm .formBox form .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    border-radius: 7px;
    border: none;
    background-color: #777;
    color: white;

}
section .container .contactForm .formBox form .inputbox input::placeholder{
    padding-left: 20px;
}
section .container .contactForm .formBox form .inputbox textarea::placeholder{
    padding-left: 20px;
}
section .container .contactForm .formBox form .inputbox textarea {
    min-height: 120px;
}
input[type="submit"] {
    position: relative;
    cursor: pointer;
    background:rgb(24, 22, 22);
    border-radius: 5px;
    color: white;
    width: 100px;
    max-width: 150px;
    padding: 12px;
    margin-top: 10px;
    border: none;
}

input[type="reset"] {
    position: relative;
    cursor: pointer;
    background:rgb(24, 22, 22);
    border-radius: 5px;
    color: white;
    width: 100px;
    max-width: 150px;
    margin-top: 10px;
    padding: 12px;
    border: none;
}
