/*-----------------------------------*\
 * #CUSTOM PROPERTY 
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --jet: hsl(0, 0%, 20%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx-1: hsl(0, 0%, 24%);
    --onyx-2: hsl(0, 0%, 25%);
    --gray-web: hsl(0, 0%, 48%);
    --light-gray: hsl(0, 0%, 80%);
    --davys-gray: hsl(0, 0%, 33%);
    --field-drab: hsl(47, 98%, 22%);
    --red-crayola: hsl(356, 73%, 58%);
    --golden-puppy: hsl(47, 100%, 49%);
    --quick-silver: hsl(0, 0%, 63%);
    --sonic-silver: hsl(0, 0%, 44%);
    --eerie-black-1: hsl(0, 0%, 15%);
    --eerie-black-2: hsl(0, 0%, 7%);
    --rich-black-fogra-39: hsl(0, 0%, 2%);
  
    /**
     * typography
     */
  
    --ff-roboto: "Roboto", sans-serif;
  
    --fs-1: 32px;
    --fs-2: 20px;
    --fs-3: 19px;
    --fs-4: 18px;
    --fs-5: 16px;
    --fs-6: 15px;
    --fs-7: 14px;
    --fs-8: 13px;
    --fs-9: 12px;
    --fs-10: 11px;
  
    --fw-500: 500;
    --fw-700: 700;
  
    /**
     * transition
     */
  
    --transition: 0.15s ease-in-out;
  
  }
  
  /*-----------------------------------*\
   * #RESET 
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a { text-decoration: none; }
  
  li { list-style: none; }
  
  button {
    color: inherit;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
  }
  
  button,
  img,
  input,
  a,
  span,
  ion-icon { display: block; }
  
  input {
    font: inherit;
    border: none;
  }
  
  html {
    font-family: var(--ff-roboto);
    color: var(--quick-silver);
    line-height: 1.3;
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--rich-black-fogra-39);
    min-width: 280px;
  }
  
  button, a, input, [tabindex] { outline-offset: 4px; }
  
  ::-webkit-scrollbar { width: 10px; }
  
  ::-webkit-scrollbar-track {
    background: var(--rich-black-fogra-39);
    border-left: 1px solid var(--onyx-1);
  }
  
  ::-webkit-scrollbar-thumb { background: var(--golden-puppy); }
  
  ::-webkit-scrollbar-thumb:hover { --golden-puppy: hsl(47, 100%, 40%); }
  
  ::-webkit-scrollbar-button { height: 5px; }
  
  /*-----------------------------------*\
   * #REUSED STYLE 
  \*-----------------------------------*/
  
  .container { padding: 0 12px; }
  
  .h1,
  .h2,
  .h3 { color: var(--white); }
  
  .h1 {
    font-size: var(--fs-1);
    text-transform: capitalize;
  }
  
  .h2 { font-size: var(--fs-3); }
  
  .h3 { font-size: var(--fs-2); }
  
  .h4 {
    color: inherit;
    font-size: var(--fs-5);
    font-weight: var(--fw-700);
  }
  
  .h5 {
    font-size: var(--fs-6);
    font-weight: var(--fw-500);
  }
  
  .btn-primary {
    background: var(--golden-puppy);
    color: var(--black);
  }
  
  .btn-primary:is(:hover, :focus) { --golden-puppy: hsl(47, 100%, 45%); }
  
  .btn-secondary:is(:hover, :focus) { background: hsla(47, 100%, 45%, 0.1); }
  
  /*-----------------------------------*\
   * #NEW PRODUCT, EXPLORE PRODUCT
  \*-----------------------------------*/
  
  .section-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  
  .product-card {
    background: var(--eerie-black-1);
    padding: 18px;
    border: 1px solid var(--onyx-2);
    border-radius: 8px;
  }

  /* .product-card:hover {
    transform: rotateY(-180deg);
    transform-style: preserve-3d; 
    transition: transform 1s;
  } */
  
  .product-banner {
    position: relative;
    height: 210px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
  }
  
  .product-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-actions {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-card-menu,
  .add-to-whishlist {
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    border-radius: 50%
  }
  
  .product-card-menu {
    background: var(--golden-puppy);
    color: var(--black);
  }

  .place-bid-btn {
    background: var(--blue);
    color: var(--black);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: var(--fs-7);
    text-transform: capitalize;
    padding: 8px 16px;
    border-radius: 4px;
    opacity: 0;
    transition: var(--transition);
  }
  
  .product-card:is(:hover, :focus) .place-bid-btn,
  .place-bid-btn:focus {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  .product-title { margin-bottom: 15px; }
  
  .product-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }
  
  .product-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  
  .author-img {
    background: var(--black);
    border-radius: 50%;
    overflow: hidden;
  }
  
  .author-username,
  .product-price .label {
    color: inherit;
    font-size: var(--fs-8);
  }
  
  .author-username:is(:hover, :focus) { color: var(--golden-puppy); }
  
  .product-price data {
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
  }
  
  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-8);
  }
  
  /*-----------------------------------*\
   * #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for larger than 450px screen
   */
  
  @media (min-width: 450px) {
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 400px;
      margin: auto;
    }
  
  }
  
  /**
   * responsive for larger than 650px screen
   */
  
  @media (min-width: 650px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 600px; }
  
    /**
     * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER
     */
  
    .product-list,
    .about-list,
    .top-seller-list { grid-template-columns: 1fr 1fr; }
  
  }
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 38px;
      --fs-3: 35px;
      --fs-7: 15px;
      --fs-9: 14px;
  
    }
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 700px; }
  
    .btn { padding: 14px 20px; }

  
    .btn-group { justify-content: flex-start; }
  
    /**
     * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER, FOOTER
     */
  
    .explore-product,
    .footer-top { padding: 100px 0; }
  
  }
  
  /**
   * responsive for larger than 1024px screen
   */
  
  @media (min-width: 1024px) {
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 45px;
      --fs-9: 16px;
  
    }
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 950px; }
  
    .hero-title,
    .hero-text { margin-bottom: 30px; }
  
    .hero-text { --fs-7: 18px; }
  
    .btn-group { gap: 20px; }
  
    /**
     * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER
     */
  
    .product-list,
    .about-list,
    .top-seller-list { grid-template-columns: repeat(3, 1fr); }
  }
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 55px;
  
    }
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1150px; }
  
    /**
     * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER
     */
  
    .product-list,
    .about-list,
    .top-seller-list { grid-template-columns: repeat(4, 1fr); }
  
  }